parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes


dibi:
        driver: oracle
        database: IP/DB
        username: USERNAME
        password: PASSWORD
        charset: utf8
        lazy: true